<ion-header>
    <ion-navbar>
        <ion-title>
            PDF
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <br>

    <button ion-button color="secondary" (click)="pdf()">ver PDF de factura</button> {{urlpdf}}

</ion-content>