<!--
  Generated template for the PagesPdfvistaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>vista de pdf</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>Este es el pdf descargado y codificado en base64</h1>

    <ion-fab left bottom style="width: 72%;">
        <ion-item style="background-color: #f0f0f0;">
            <ion-label style="margin: 0%;">ZOOM, x{{zoompdf}} </ion-label>
            <ion-range style="padding: 0px" [(ngModel)]="zoompdf" min="1" max="5" step="1" snaps="true" color="secondary" pin="true">
                <ion-icon small range-left name="ios-remove-outline"></ion-icon>
                <ion-icon range-right name="ios-add-outline"></ion-icon>
            </ion-range>
        </ion-item>
    </ion-fab>

    <pdf-viewer [show-all]="true" [src]="localpdf" [original-size]="false" [render-text]="true" [zoom]="zoompdf" [autoresize]="true" (after-load-complete)="onAfterLoadComplete($event)" (on-progress)="onProgress($event)" (error)="onError($event)" style="display: block;"></pdf-viewer>


    <ion-fab right bottom>
        <button ion-fab mini><ion-icon name="md-arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab (click)="zoommenos()"><ion-icon name="ios-remove-outline"></ion-icon></button>
            <button ion-fab (click)="zoommas()"><ion-icon name="ios-add-outline"></ion-icon></button>
            <span>ZOOM</span>
        </ion-fab-list>
    </ion-fab>


</ion-content>